{% extends 'movies/base.html' %}

{% block body %}
<div class="container">

<div class="col-md-8">

	{% for movie in movies %}
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'movies:detail' movie.id %}">
                <img src="{{movie.picture}}" class="img-rounded" width="130" height="200">
            </a>
        </div>
        <div class="col-md-9">
            <h3>{{forloop.counter}}. {{movie.name}} ({% if movie.score != -1 %}{{movie.score}}%{% else %}no score yet{% endif %})</h3>
            {% if movie.production_company.name != "no_production_company" %}<h4>{{movie.production_company}}</h4>{% endif %}
            <p>{{movie.description}}</p>
            <a class="btn btn-primary" href="{% url 'movies:detail' movie.id %}">More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <hr>
    {% endfor %}

</div>

</div>
{% endblock %}