{% extends 'movies/base.html' %}

{% block body %}
<div class="container">

	<div class="row">
	{% for movie in movies %}

		{% if forloop.counter0|divisibleby:6 %}
			</div>
			<div class="row">
		{% endif %}

		        <div class="col-md-2 portfolio-item">
		            <a href="{% url 'movies:detail' movie.id %}">
		                <img src="{{movie.picture}}" class="img-rounded" width="130" height="200">
		            </a>
		            <h4>
		                <a href="{% url 'movies:detail' movie.id %}">{{movie.name}} ({% if movie.score != -1 %}{{movie.score}}%{% else %}no score yet{% endif %})</a>
		            </h4>
		            <br>
		        </div>

	{% endfor %}

</div>
{% endblock %}